@charset "UTF-8";

@font-face {
    font-family: Bold;
    src: url(../fonts/HankenGrotesk-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ExtraBold;
    src: url(../fonts/HankenGrotesk-ExtraBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Medium;
    src: url(../fonts/HankenGrotesk-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --Lightred: hsl(0, 100%, 67%);
    --Orangeyyellow: hsl(39, 100%, 56%);
    --Greenteal: hsl(166, 100%, 37%);
    --Cobaltblue: hsl(234, 85%, 45%);
    --boxred: hsl(0, 100%, 86%);
    --boxorange: hsl(39, 100%, 85%);
    --boxgreen: hsl(167, 100%, 89%);
    --boxblue: hsl(234, 100%, 85%);
    --Violetblue-circle: #4e21ca;
    --Persianblue-circle: #2421ca00;
    --White: hsl(0, 0%, 100%);
    --Paleblue: hsl(221, 100%, 96%);
    --Lightlavender: hsl(241, 100%, 89%);
    --Darkgrayblue: hsl(224, 30%, 27%);
    --Lightslateblue: #7857ff;
    --Lightroyalblue: #2e2be9;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    background-color: var(--White);
}

.container{
    width: 100%;
    height: 100%; 
}

.purple{
    background: rgb(46,43,233);
    background: linear-gradient(0deg, rgba(46,43,233,1) 0%, rgba(120,87,255,1) 100%);
    border-radius: 0 0 30px 30px;
    padding: 25px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.purple h4{
    font-family: Bold;
    font-size: 1.25rem;
    color: var(--Lightlavender); 
    margin-bottom: 25px;
}

.purple h2{
    color: var(--White);
    font-family: Bold;
    margin-bottom: 10px;
}

.purple p{
    font-family: Bold;
    font-size: 1rem;
    color: var(--Lightlavender); 
    width: 80%;
    margin-bottom: 10px;
}

.circle{
    background: #4835F1;
    background: linear-gradient(0deg, #4835F1 0%, #4F24CB 100%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.circle h1{
    color: var(--White);
    font-family: ExtraBold;
    font-size: 4rem;
}

.circle p{
    font-family: Bold;
    font-size: 1rem;
    color: var(--Lightlavender); 
}

.white{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.white h3{
    font-family: Bold;
    font-size: 1rem;
    margin-bottom: 10px;
}

.white .box{
    width: 100%;
    height: 50px;
    background-color: aqua;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15px;
}

#reaction{
    background-color: #FFF7F7;
    color: var(--Lightred);
}

#memory{
    background-color: #FFFCF1;
    color: var(--Orangeyyellow);
}

#verbal{
    background-color: #F2FBFA;
    color: var(--Greenteal);
}

#visual{
    background-color: #F3F3FF;
    color: var(--Lightroyalblue);
}

.white .box .text{
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Bold;
}

.white .box .number{
    display: flex;
    align-items: center;
    font-family: Bold;
    color: rgb(117, 117, 117);
}

.white .box .number strong{
    color: black;
}

button{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: var(--Darkgrayblue);
    color: white;
    font-family: Bold;
    border: none;
    margin-top: 15px;
}


