@charset "UTF-8";

@font-face {
    font-family: Bold;
    src: url(../fonts/HankenGrotesk-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ExtraBold;
    src: url(../fonts/HankenGrotesk-ExtraBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Medium;
    src: url(../fonts/HankenGrotesk-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --Lightred: hsl(0, 100%, 67%);
    --Orangeyyellow: hsl(39, 100%, 56%);
    --Greenteal: hsl(166, 100%, 37%);
    --Cobaltblue: hsl(234, 85%, 45%);
    --boxred: hsl(0, 100%, 94%);
    --boxorange: hsl(38, 100%, 92%);
    --boxgreen: hsl(167, 100%, 93%);
    --boxblue: hsl(233, 100%, 91%);
    --Violetblue-circle: #4e21ca;
    --Persianblue-circle: #2421ca00;
    --White: hsl(0, 0%, 100%);
    --Paleblue: hsl(221, 100%, 96%);
    --Lightlavender: hsla(241, 100%, 89%, 0.568);
    --Darkgrayblue: hsl(224, 30%, 27%);
    --Lightslateblue: #7857ff;
    --Lightroyalblue: #2e2be9;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.purple, .white{
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 30px 30px;
}

.purple{
    background-color: var(--Lightroyalblue);
}

.purple h3{
    font-family: Medium;
    font-size: 1.25rem;
    color: var(--Lightlavender);
    margin-bottom: 35px;
}

.purple .circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: linear-gradient(#4e21ca, #2421ca00);
    box-shadow: rgba(66, 66, 66, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.purple .circle h1{
    color: white;
    font-family: ExtraBold;
    font-size: 3rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.150);
    padding-top: 20px;
}

.purple .circle p{
    color: var(--Lightlavender);
    font-family: bold;
    font-size: .75rem;
    padding-top: 10px;
}

.purple h2{
    color: white;
    font-family: Bold;
    margin-bottom: 10px;
}

.purple p{
    text-align: center;
    font-family: Bold;
    font-size: 0.8rem;
    color: var(--Lightlavender);
    padding: 5px 25px;
    
}


.white{
    align-items: start;
    gap: 15px;
}

.white h3{
    font-family: Bold;
    font-size: 1.25rem;
    color: black;
    margin-bottom: 20px;
}

.white .box{
    height: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15px;
    width: 100%;
}

.white .text{
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Bold;
}

.white #red{
    background-color: var(--boxred);
}

#red .text{
    color: var(--Lightred);
}

.white #yellow{
    background-color: var(--boxorange);
}

#yellow .text{
    color: var(--Orangeyyellow);
}

.white #green{
    background-color: var(--boxgreen);
}

#green .text{
    color: var(--Greenteal);
}

.white #blue{
    background-color: var(--boxblue);
}

#blue .text{
    color: var(--Cobaltblue);
}

.white .number{
    font-family: Medium;
    display: flex;
    align-items: center;
}

.white button{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    background-color: var(--Darkgrayblue);
    font-family: Bold;
    font: 1.25rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 650px) {

    body{
        height: auto;
    }
    
    .container{
        flex-direction: column;
    }

    .purple, .white{
        width: 100%;
    }

    .purple{
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.600)
    }

}